/* Css Reset */ 

meyerweb.com
Main content
Navigation links
Footer
Post Archives
CSS Work
Toolbox
Writing
Speaking
Other Stuff
About this site
CSS Tools: Reset CSS
The goal of a reset stylesheet is to reduce browser inconsistencies in things like default line heights, margins and font sizes of headings, and so on. The general reasoning behind this was discussed in a May 2007 post, if you're interested. Reset styles quite often appear in CSS frameworks, and the original "meyerweb reset" found its way into Blueprint, among others.

The reset styles given here are intentionally very generic. There isn't any default color or background set for the body element, for example. I don't particularly recommend that you just use this in its unaltered state in your own projects. It should be tweaked, edited, extended, and otherwise tuned to match your specific reset baseline. Fill in your preferred colors for the page, links, and so on.

In other words, this is a starting point, not a self-contained black box of no-touchiness.

If you want to use my reset styles, then feel free! It's all explicitly in the public domain (I have to formally say that or else people ask me about licensing). You can grab a copy of the file to use and tweak as fits you best. If you're more of the copy-and-paste type, or just want an in-page preview of what you'll be getting, here it is.

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
Previous Versions
v1.0 (200802)
Acknowledgments
Thanks to Paul Chaplin for the blockquote / q rules.

Identity Archipelago
Mastodon
GitHub
Codepen
Dribbble
Flickr
LinkedIn
The excuse of the day iselevated error rate caused by over-consumption of resources
All contents of this site, unless otherwise noted, are ©1993-2025 Eric A. and Kathryn S. Meyer. All Rights Reserved.
"Thoughts From Eric" is powered by WordPress. Most of the rest of the site is hand-authored.
The ink-sketch images used in this site’s design are adapted from Yūzan Mori’s Hamonshū, Volumes 1-3, published in 1903 and made available for public use by the Smithsonian Libraries and the Internet Archive.

.root 



.hero {
  position: relative;
  background-image: url("https://i.imgur.com/UeTmNC5.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filler {
  position: relative;
  background-image: url("https://i.imgur.com/gNCy2Nh.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 70vh;
}

h1 {
  color: white;
  text-shadow: 2px 2px 4px black;
  font-weight: 700;
  text-align: center;
}

.hero-text {
  position: absolute;
  bottom: 30px;
  color: black;
  z-index: 1;
}

.off-text {
  color: #e2b4bd;
}

.start-button {
  display: block;
  border-radius: 40px;
  width: 40%;
  max-width: 200px;
  margin: 10px auto;
}

#heroimg {
  position: absolute;
  max-width: 40%;
  max-height: 40%;
  top: 100px;
}

.carousel-item img {
  object-fit: cover;
  object-position: center;
  height: 50vh;
  overflow: hidden;
}

.carousel-caption {
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0.5);
}

h5 {
  color: whitesmoke;
}

#footer-section {
  background-color: #424b54;
  color: #ffffff;
  height: 100px;
}

#skills-section {
  background-color: lightcoral;
  margin-bottom: 5px;
}

#mission-target,
#skills-target,
#contact-target {
  position: relative;
  top: -100%;
}

#icon {
  font-size: 3rem;
  text-shadow: 1px 1px whitesmoke;
}

.mobile {
  width: 30%;
  box-shadow: 2px 2px whitesmoke;
}

.social {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 20px;
}

.btn-social:hover {
  color: lightblue;
  font-size: 20px;
}

.card:hover {
  color: lightcoral;
}

.caption {
  color: rgb(8, 26, 39);
  background-color: #e6ebf62d;
  align-items: first baseline;
}

@media (max-width: 768px) {
  .hero {
    height: 60vh;
  }

  .hero-text {
    bottom: 20px;
    font-size: 10px;
  }

  h1 {
    font-size: 5px;
  }

  .start-button {
    width: 50%;
  }
}
